Checks: "*,-llvm*,
  -google-readability-namespace,
  -llvmlib,
  -fuchsia*,
  -altera*,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-use-trailing-return,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in,
  -cppcoreguidelines-macro-usage,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-do-while,
  -misc-non-private-member-variables-in-classes,
  -google-readability-todo"
WarningsAsErrors: false
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
